@import "../scss/variables.scss";

.palindrome-search-output-found-palindromes {
  border-bottom: 1px solid $bg-highlight;
  &-container {
    list-style: square;
    padding: 10px;
    max-height: 300px;
    overflow: auto;
    background-color: $darkened-bg-primary;
    box-shadow: 0 0 5px 5px $darkened-bg-primary;
  }
}
