$bg-primary: #264653;
$darkened-bg-primary: adjust-color($bg-primary, $lightness: -5%);
$bg-highlight: #2a9d8f;
$primary: #e9c46a;
$secondary: #f4a261;
$highlight: #e76f51;
$success: #6fe751;
$main-font-size: 20px;
